<!DOCTYPE html>
<html>
<head>
    <title>Node environment information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body{
        margin: 0 auto;
        width: 80%;
        font-size: 12px;
        font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
        line-height: 1.5em;
    }
    a {
     color: #937015;
     text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    .ni-no-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .ni {
        background-color: #303030;
        font-size: .9em;
        width: 100%;
        color: #fff;
    }
    .ni-title {
       padding: 10px; 
       background-color: #80bd01; 
       color: #fff; 
       font-weight: 600;
    }
    .ni ul {
        width: 45%;
        padding: 0 10px;
        vertical-align: top;
    }
    .ni ul li.f {
        width: 30%;
        color: rgba(153, 153, 153, .9);
        list-style: none;
        float: left;
    }
    .ni ul li.l {
        width: 70%;
        list-style: none;
    }
    .ni-num {
        width: 5%;
    }
    .ni-name {
       width: 25%; 
    }
    .ni-version {
        width: 10%;
    }
    .ni-ellipsis {
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .ni-ellipsis label {
        background-color: #80bd01; 
        border-radius: 4px; 
        font-size: .8em; 
        cursor: pointer;
        color: #000;
        padding: 0 5px;
    }
    .ni-ellipsis span.wrapper {
        position: relative; 
        display: inline-block;
    }
    .ni-ellipsis span.arrow-down {
        display: none; 
        position: absolute; 
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent; 
        border-right: 5px solid transparent;
        border-top: 5px solid #80bd01;
        top: 15px; 
        left: 9px;
    }
    .ni-ellipsis input[type=checkbox] {
        display: none;
    }
    .ni-ellipsis > div {
        background-color: #303030;
        max-height: 0;
        overflow: hidden;
    }
    .ni-ellipsis input[type=checkbox]:checked ~ div {
        max-height: 500px;
        padding: 1em;
        margin: .3em 0;
        -webkit-transition: max-height .7s ease-out;
        -moz-transition: max-height .7s ease-out;
        -ms-transition: max-height .7s ease-out;
        -o-transition: max-height .7s ease-out;
        transition: max-height .7s ease-out;
    }
    .ni-ellipsis input[type=checkbox]:checked ~ span > label {
        color: #80bd01;
    }
    .ni-ellipsis input[type=checkbox]:checked ~ span > .arrow-down {
        display: inline-block;
    }
    .ni-ellipsis span {
        display: inline-block;
    }
    .u-1-2 {
        width: 50%;
        display: inline-block;
        line-height: 1.5em;
    }
    .u-1-6 {
        width: 30%;
        display: inline-block;
        line-height: 1.5em;
        float: left;
    }
    .u-5-6 {
        width: 70%;
        display: inline-block;
        line-height: 1.5em;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        margin-bottom: 5em;
    }
    table thead {
        background-color: rgba(153, 153, 153, .7);
        text-align: left;
        vertical-align: bottom;
        padding: 1em;
        color: #1b1b1b;
    }
    table th {
        padding: .5em 1em;
    }
    table td {
        background-color: #1d1d1d;
        padding: .5em 1em;
        color: #d2d8ba;
    }
    table tr.sub-title td {
        background-color: #303030;
        color: #80bd01;
        font-weight: 600;
    }
    table tr.self-pkg td {
        background-color: #000;
        color: #80bd01;
        font-weight: 600;
    }
    </style>
</head>
<body>
<div class="ni-title">
    Node environment information
</div>
<div class="ni">
    <% sys.forEach(function(sys) { %>
        <% if (sys.proc) { %>
        <ul class="u-1-2">
            <li class="u-1-2 f">Node version:</li><li class="u-1-2 l"><%= sys.proc.version %></li>
            <li class="u-1-2 f">Platform:</li><li class="u-1-2 l"><%= sys.proc.platform %></li>
            <li class="u-1-2 f">Process uptime:</li><li class="u-1-2 l"><%= sys.proc.uptime %></li>
            <li class="u-1-2 f">Process id:</li><li class="u-1-2 l"><%= sys.proc.pid %></li>
            <li class="u-1-2 f">V8 Resident set size:</li><li class="u-1-2 l"><%= sys.proc.memv8.rss %> MB</li>
            <li class="u-1-2 f">V8 Heap used size:</li><li class="u-1-2 l"><%= sys.proc.memv8.heapUsed %> MB</li>
            <li class="u-1-2 f">V8 Heap total size:</li><li class="u-1-2 l"><%= sys.proc.memv8.heapTotal %> MB</li>
        </ul>
        <% } %>
        <% if (sys.os) { %>
        <ul class="u-1-2">
            <li class="u-1-2 f">Hostname:</li><li class="u-1-2 l"><%= sys.os.hostname%></li>
            <li class="u-1-2 f">CPU model:</li><li class="u-1-2 l"><%= sys.os.model%></li>
            <li class="u-1-2 f">CPU speed:</li><li class="u-1-2 l"><%= sys.os.speed%></li>
            <li class="u-1-2 f">CPU core:</li><li class="u-1-2 l"><%= sys.os.core%></li>
            <li class="u-1-2 f">Free memory:</li><li class="u-1-2 l"><%= sys.os.freemem%> GB (approx.)</li>
            <li class="u-1-2 f">Total memory:</li><li class="u-1-2 l"> <%= sys.os.totalmem%> GB (approx.)</li>
        </ul>
        <% } %>
    <% }) %>
</div>
<div class="table-responsive">
    <table width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Version</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    <% 
        var orderIndex = 0; 
        var isDevDepsStarted = false;  
        var isDepsStarted = false;  
        var uniqueId = 0;
    %>
    <% pkgs.forEach(function(pkg) { %>

    <% if (isDefined(pkg.deps) && !isDepsStarted) { %>  
    <tr class="sub-title"><td colspan="4">Dependency packages detail</td></tr>
    <% 
        orderIndex = 0;  
        isDepsStarted = true;  
    %>
    <% } %>

    <% if (isDefined(pkg.dev) && !isDevDepsStarted) { %>  
    <tr class="sub-title"><td colspan="4">Dev dependency packages detail</td></tr>
    <% 
        orderIndex = 0;  
        isDevDepsStarted = true;  
    %>
    <% } %>
    <tr <% if (isDefined(pkg.selfPkg)) { %> class="self-pkg" <% } %>>
            <td class="ni-num" valign="top">
                <% if (!isDefined(pkg.selfPkg)) { %>
                <%=++orderIndex%>
                <% } %>
            </td>
            <td class="ni-name" valign="top"><%=pkg.name%></td>
            <td class="ni-version" valign="top"><%=pkg.version%></td>
            <td class="ni-ellipsis">
                <input type="checkbox" id="desc<%=++uniqueId%>" name="desc<%=uniqueId%>">
                <%= pkg.description %> 
                <span class="wrapper ni-no-select">
                    <label for="desc<%=uniqueId%>">&bull;&bull;&bull;</label>
                    <span class="arrow-down"></span>
                </span>
                <div>
                    <div class="u-1-6">Home page:</div> <div class="u-5-6"><a target="_blank" href="<%= pkg.homepage %>"><%= pkg.homepage %></a></div>
                    <div class="u-1-6">Author:</div> 
                    <% if (isDefined(pkg.author)) { %>
                        <div class="u-5-6">
                        <% if (isDefined(pkg.author.url)) { %>
                        <a target="_blank" href="<%= pkg.author.url %>"><%= pkg.author.name %></a>
                        <% } else if (isDefined(pkg.author)){ %>
                        <%= pkg.author.name %>
                        <% } %>
                        </div>
                        <% if (isDefined(pkg.author.email)) { %>
                        <div class="u-1-6">Author email:</div> <div class="u-5-6"><a href="mailto:<%= pkg.author.email %>"><%= pkg.author.email %></a></div>
                        <% } %>
                    <% } %>
                    <% if (isDefined(pkg.repository) && isDefined(pkg.repository.url)) { %>
                        <div class="u-1-6">Repository:</div><div class="u-5-6"><a target="_blank" href="<%= pkg.repository.url %>"><%= pkg.repository.type %></a></div>
                    <% } %>
                    <% if (isDefined(pkg.license)) { %>
                        <div class="u-1-6">License:</div><div class="u-5-6"><%= pkg.license %></div>
                    <% } %>
                    <% if (isDefined(pkg.bugs.url)) { %> 
                        <div class="u-1-6">Bugs:</div> <div class="u-5-6"><a target="_blank" href="<%= pkg.bugs.url %>"><%= pkg.bugs.url %></a></div>
                    <% } %>

                    <% if (isDefined(pkg.dependencies)) { %>
                        <div class="u-1-6">Dependencies:</div> 
                        <div class="u-5-6">
                        <% if (isObject(pkg.dependencies)) { %>
                            <% var dIndex = 1; %>
                            <% for (i in pkg.dependencies) { %>
                                <a target="_blank" href="https://www.npmjs.org/package/<%= pkg.dependencies[i].realName %>"><%= pkg.dependencies[i].name %></a><% if (Object.keys(pkg.dependencies).length !== dIndex) { %>,<% } %>
                                <% dIndex++; %>
                            <% } %>
                       <% } else { %>
                       -
                       <% } %>
                   <% } %>
                    </div>
               </div>
            </td>
        </tr>
    <% }) %>
    </tbody>
    </table>
</div>
</body>
</html>

